.loginpage {
	width: 100%;
	height: 99%;
}

.loginform {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	border: 3px black outset;
}

.loginform button {
	width: 110px;
	height: 33px;
	font-size: 20px;
	font-weight: bold;
}

.loginform h1 {
	margin: 0 auto;
	padding-top: 20px;
	width: 40%;
}

.jbNameLabel {
	font-size: 30px;
}

.loginform p {
	margin: 0 auto;
	width: 65%;
	height: 4em;
	font-size: 18px;
	margin-top: 25px;
}

.loginform input[type="text"], input[type="password"] {
	width: 65%;
	height: 2em;
	margin-left: 4px;
	float: right;
}

.loginform input[type="submit"] {
	width: 7em;
	height: 2em;
	float: right;
	border: outset 4px;
}