$black: #000;
$column-width: 480px;
$gutter-width: 10px;
// $break: $column-width * 2 + $gutter-width * 3;

.app {
  position: absolute;
  top: 15%;
  left: 20%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;

  @media screen and ($column-width * 2) {

  }
}

.section {
  display: inline-block;
  max-width: $column-width;
  margin: $gutter-width;
  text-align: left;
  vertical-align: top;
}

.react-player {
  margin-bottom: 10px;
  background: rgba($black, .1);
}

.faded {
  color: rgba($black, .5);
}

.footer {
  margin: $gutter-width;
}

.carltonSection {
  position: absolute;
  left: -250px;
  top: 0px;
}

.carltonSection img {
  height: 600px;
  width: 300px;
}
