.flexRoot {
	display: flex;
	flex-flow: column wrap;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.songPickerItem {
	z-index: 1000;
	font-family: 'Open Sans Condensed', arial, sans;
    width: 30%;
    height: 40%;
    min-width: 380px;
    min-height: 260px;
    padding: 30px;
    background: #FFFFFF;
    margin: 10px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    h2 {
    	background: darkred;
	    text-transform: uppercase;
	    font-family: 'Open Sans Condensed', sans-serif;
	    color: black;
	    font-size: 18px;
	    font-weight: bold;
	    padding: 20px;
	    margin: -30px -30px 30px -30px;
    }
    input[type="text"] {
    	box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    outline: none;
	    display: block;
	    width: 100%;
	    padding: 7px;
	    border: none;
	    border-bottom: 1px solid #ddd;
	    background: transparent;
	    margin-bottom: 10px;
	    font: 16px Arial, Helvetica, sans-serif;
	    height: 45px;
    }
    input[type="submit"]{
	    -moz-box-shadow: inset 0px 1px 0px 0px #333333;
	    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
	    box-shadow: inset 0px 1px 0px 0px #333333;
	    background-color: #232323;
	    border: 1px solid #333333;
	    display: inline-block;
	    cursor: pointer;
	    color: #FFFFFF;
	    font-family: 'Open Sans Condensed', sans-serif;
	    font-size: 14px;
	    padding: 8px 18px;
	    text-decoration: none;
	    text-transform: uppercase;
	    margin-top: 5px;
	    letter-spacing: 1px;
	}
	.testerr {
		visibility: hidden;
		div {
			max-height: 35px;
			max-width: 35px;
			margin-left: 305px;
			margin-top: -30px;
		}
	}
}

.searchResultsItem {
	z-index: 999;
	width: 35%;
	height: 40%;
	border: 1px white solid;
	margin: 10px auto;
	ul {
		list-style: none;
		font-size: 20px;
		width: 100%;
		margin-top: 5px;
		li {
			position: relative;
			left: -600px;
			opacity: 0;
			font-size: 16px;
			font-weight: bold;
			button {
				-moz-box-shadow: inset 0px 1px 0px 0px #333333;
			    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
			    box-shadow: inset 0px 1px 0px 0px #333333;
			    background-color: #232323;
			    border: 1px solid #333333;
			    color: #FFFFFF;
			    font-family: 'Open Sans Condensed', sans-serif;
			    font-size: 13px;
			    font-weight: 100;
			    padding: 4px 10px;
			    text-decoration: none;
			    text-transform: uppercase;
			    margin-top: 5px;
			    letter-spacing: 1px;
			}
			p {
				margin-left: 85px;
				font-weight: bolder;
				color: darkred;
			}
		}
	}
}

.tester {
	transform: translate(600px);
}

.playlist {
	background-color: black;
	width: 25%;
	height: 95%;
	border: 1px white solid;
	margin: 10px auto;
	h1 {
		text-align: center;
	}
}

.urlFormItem {
	font-family: 'Open Sans Condensed', arial, sans;
	width: 30%;
	height: 35%;
	min-width: 380px;
    min-height: 200px;
	padding: 30px;
    background: #FFFFFF;
    margin: 10px auto;
    margin-top: 6%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    h2 {
    	background: darkred;
	    text-transform: uppercase;
	    font-family: 'Open Sans Condensed', sans-serif;
	    color: black;
	    font-size: 18px;
	    font-weight: bold;
	    padding: 20px;
	    margin: -30px -30px 40px -30px;
    }
    input[type="text"] {
    	box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    outline: none;
	    display: block;
	    width: 100%;
	    padding: 7px;
	    border: none;
	    border-bottom: 1px solid #ddd;
	    background: transparent;
	    margin-bottom: 10px;
	    font: 16px Arial, Helvetica, sans-serif;
	    height: 45px;
    }
    input[type="submit"]{
	    -moz-box-shadow: inset 0px 1px 0px 0px #333333;
	    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
	    box-shadow: inset 0px 1px 0px 0px #333333;
	    background-color: #232323;
	    border: 1px solid #333333;
	    display: inline-block;
	    cursor: pointer;
	    color: #FFFFFF;
	    font-family: 'Open Sans Condensed', sans-serif;
	    font-size: 14px;
	    padding: 8px 18px;
	    text-decoration: none;
	    text-transform: uppercase;
	    margin-top: 5px;
	    letter-spacing: 1px;
	}
}

.recommendedItem {
	width: 30%;
	height: 50%;
	background-color: black;
	border: 1px white solid;
	margin: 10px auto;
	h1 {
		text-align: center;
	}
}